version: '3.8'

services:
  backend:
    image: mftc2412/pokemon-backend
    ports:
      - "3000:3000"
    depends_on:
      - mongo
    networks:
      - pokenet
    restart: always

  frontend:
    image: mftc2412/pokemon-frontend
    ports:
      - "8080:80"
    networks:
      - pokenet
    restart: always

  mongo:
    image: mongo
    container_name: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - pokenet
    restart: always

volumes:
  mongo_data:

networks:
  pokenet:
